@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    background-color: #111;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .slide-content {
    height: 100vh;
    padding-right:7%;
    padding-left: 10%;
    justify-content: space-between;
  }
  
  .carousel-text {
    max-width: 50%;
    padding-top: 200px;
    color: white;
    padding-bottom: 250px;

  }
  
  .carousel-text h2 {
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 30px;
    letter-spacing: 1.8px;
  }
  
  .carousel-text p.lead {
    font-size: 1.3rem;
    margin: 1rem 0;

  }
  
  .carousel-text .price {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-bottom: 25px;
  }
  
  .carousel-image {
    max-width: 46%;
  }
  
  .carousel-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  main {
    margin-top: 70px; /* push down your main content */
  }
  .carousel-text h6{
    font-size: 22px;
    font-weight:590;
    padding-bottom: 15px;
    letter-spacing: 1.2px;
  }
  #carousel-btn{
    background-color: rgb(255, 9, 9);
    border-radius: 2px;
    width: 150px;
    height: 43px;
    color: white;
  }
  .carousel-text span{
    padding-left: 10px;
    font-size: 1.3rem;
  }